* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    position: relative;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    display: flex;
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo {
    width: 70px;
    margin-left: 30px;
}

.searchbg {
    background-color: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 3px;
    border: 1px solid gray;
}

.inputsearch {
    padding: 3px 10px;
    outline: none;
    border: none;
}

#btnsearch {
    border-radius: 3px;
    background-color: rgb(158, 98, 18);
    color: white;
    cursor: pointer;
    padding: 3px 6px;
    border: none;
}

.nav {
    margin-right: 30px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    transition: all .4s;
    color: gold;
    text-decoration: underline;
}

main {
    width: 100%;
    /* height: 900px; */
    display: flex;
    margin-top: 90px;
    /* background-color: rgb(139, 139, 161); */
    flex-direction: column;
    row-gap: 40px;
}

.titlepro {
    text-align: center;
    background-color: rgb(246, 246, 246);
    color: midnightblue;
}

.card {
    width: 250px;
    background-image:linear-gradient(to top,rgb(239, 202, 136),rgb(249, 249, 249));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.098));
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    border-radius: 5px;
    row-gap: 10px;
}

.title {
    color: rgb(21, 21, 68);
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

.imgcard {
    width: 100%;
}

.price {
    background-color: gold;
    padding: 4px 7px ;
    border-radius: 100%;
    color: red;
    font-weight: 600px;
    border: 1px solid red;
}

#btnpay {
    margin-left: 210px;
    background-color: rgb(92, 86, 86);
    border: none;
    padding: 2px 8px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#btnpay:hover {
    background-color: rgb(61, 58, 58);
}

.products {
    width: 100%;
    /* height: 800px; */
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

footer {
    margin-top: 40px;
    background-color: rgb(32, 30, 32);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
}


.soc {
    display: flex;
    gap: 10px;

}

.soc img {
    width: 25px;

}

.cart {
    width: 22px;
}

@media (max-width: 514px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    .nav {
        margin-left: 30px;
    }
    main {
        margin-top: 170px;
    }
}
/* .container {
    width: 1100px;
    height: 900px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
}



.box {
    width: 100px;
    height: 150px;
    background-color: blue;
    color: aliceblue;
    font-size: 55px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
} */